force-app/main/default/flows/New_Bot_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_oppVar</name>
        <label>Assign oppVar</label>
        <locationX>176</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>oppVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppVar_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppVar.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppVar_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirm_product</name>
        <choiceText>Confirm product</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm product</stringValue>
        </value>
    </choices>
    <choices>
        <name>Follow_up_call</name>
        <choiceText>Follow-up call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-up call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identify_contacts</name>
        <choiceText>Identify contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Identify contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Research</name>
        <choiceText>Research</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Research</stringValue>
        </value>
    </choices>
    <choices>
        <name>Site_visit</name>
        <choiceText>Site visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Site visit</stringValue>
        </value>
    </choices>
    <description>New Bot Opp</description>
    <dynamicChoiceSets>
        <description>choiceType</description>
        <name>choiceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>stageChoiceSet</description>
        <name>stageChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>TodayPlus90</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>New Bot Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Bot Opp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>screenAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Estimated_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Estimated_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>oppVar.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>oppVar.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>New_or_Existing_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Main_Contact_firstSelectedRow_ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screenAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
        <fields>
            <name>Main_Contact</name>
            <fieldText>Main Contact</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <extensionName>flowruntime:datatable</extensionName>
            <inputParameters>
                <name>sourceCollection</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useLabelAsTableTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rowSelectionMode</name>
                <value>
                    <stringValue>Single</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>requireSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayColumns</name>
                <value>
                    <stringValue>Name,Department,Title</stringValue>
                </value>
            </inputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opp_Fields</name>
        <label>Opp Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_oppVar</targetReference>
        </connector>
        <fields>
            <name>oppVar_Name</name>
            <attributeReference>oppVar</attributeReference>
            <dataType>String</dataType>
            <fieldReference>Name</fieldReference>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>oppVar_Stage</name>
            <attributeReference>oppVar</attributeReference>
            <choiceReferences>stageChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldReference>StageName</fieldReference>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screenAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldText>Account</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>requirement</name>
            <fieldText>You must have spoken with a potential customer about a Bot product before creating an opportunity.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Estimated_Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>TodayPlus90</elementReference>
            </defaultValue>
            <fieldText>Estimated Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Estimated_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Estimated Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_or_Existing_Customer</name>
            <choiceReferences>choiceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New or Existing Customer?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>Confirm_product</choiceReferences>
            <choiceReferences>Identify_contacts</choiceReferences>
            <choiceReferences>Follow_up_call</choiceReferences>
            <choiceReferences>Site_visit</choiceReferences>
            <choiceReferences>Research</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Next Steps</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_Fields</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>oppVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
